body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
}

#selectedBabyName {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

#selectedBabyName:empty {
    display: none;
}

#selectedBabyName:not(:empty) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.player-container {
    min-height: 150px;
    background: linear-gradient(145deg, #f0f0f0, #e6e6e6);
    border: 2px solid #007bff;
    transition: all 0.3s ease;
}

.player-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.2) !important;
}

.player-container .timer-display {
    font-size: 3rem;
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.player-container .btn-group .btn {
    padding: 15px 25px;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}

.player-container .btn-group .btn:hover {
    transform: scale(1.05);
}

@media (max-width: 576px) {
    .player-container .timer-display {
        font-size: 2.5rem;
    }

    .player-container .btn-group .btn {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

.user-greeting {
    padding-top: 70px; /* Ajuste este valor conforme necessário */
}

@media (max-width: 991.98px) {
    .user-greeting {
        padding-top: 56px; /* Altura padrão do navbar no Bootstrap para telas menores */
    }
}

.card-link:hover {
    text-decoration: none;
}

.card-link:hover .card {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card {
    transition: all 0.3s ease;
    height: 100%;
}

.card-body {
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    margin-top: auto;
    font-weight: bold;
}

.card-text {
    margin-top: auto;
}

.fa-3x {
    font-size: 3em;
    margin-bottom: 0.5rem;
}

